.section-1 .logo-bat{
    width: 46rem;
    margin: auto;
    margin-left: 214px;
    margin-top: 95px;
    
    display: flex;
    justify-content: space-between;
}

.logo-bat img{
    width: 500px;
    margin-top: 50px;
}

.logo-bat span{
    color: #f7913a;
    font-size: 70px;
    font-weight: 800;
    margin-top: 50px;
}

.section-1 h1{
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding: 1.5em
}

.section-1 p{
    color: #FFFFFF;
    font-size: 50px;
    padding: 5px;
    text-align: center;
}

.Caja{
    width: 760px;
    height: 100px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: -52px;
    background: #FAF8F7;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;

}

.Caja a{
    color: #201E1C;
    margin-left: 65px;
    font-size: 50px;
    text-decoration: none;
    font-weight: 900;
}

.Moneda img{
    width: 500px;  
    margin: auto;
    margin-top: 50px;
    margin-left: 250px;
}   


.section-2 h2{
    color: #201E1C;
    font-size: 60px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
}

.section-2 p{
    color: #BABABA;
    font-size: 35px;
    padding: 5px;
    text-align: center;
}